#crush-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-crush-window {
    padding: 10px;
    width: 220px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cccccc;
    box-shadow: 2px 2px #959595;
}


div.main-crush-header > button {

}

div.crush-picture {
    border: 1px white solid;
    width: 100px;
    height: 100px;
    background-color: #e6e6e8;
    margin: 5px;
}

span.main-crush-header {
    padding: 2px 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
    color: white;
    border-bottom: 1px #959595 solid;
    border-top: 1px solid white;
    box-shadow: 1px 1px #959595;
    /* box-shadow: 1px 1px #959595; */
}

span.buttons {
    display: flex;
    align-content:flex-end;
}

hr.crush-divider {
    background-color: #949494;
    width: 100%;
    border: none;
    height: 1px;
    border-radius: 2px;
}

button {
    margin: 0 2px;
}

button > span {
    border: .5px #bfbbc3 solid;
    padding: 1px 4px;
}

span.crush-name {
    display: flex;
    justify-content: start;
}