---
import Navigation from '../components/Navigation.astro';
import CrushWrapper from '../components/ReactComponents/CrushWrapper';

const pageTitle = "Leaderboard";

---

<h1 id="test">{pageTitle ? pageTitle : ""}</h1>
<Navigation />
<CrushWrapper client:load/>