#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #EFFFDA;
    padding: 20px 0;
    margin: 0 10px;
}