---
import './header.css'
import CrushWindow from './ReactComponents/CrushWindow.tsx';
---
<div id="header">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="leaderboards">Leaderboard</a>
</div>
<CrushWindow/>
