div #main {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    padding: 20px 15px 20px 15px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor:default;
}


a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

